<span class="d-flex justify-content-center align-items-center">
    <img class="img-fluid" src="https://c.tenor.com/9PTGVf4BLwYAAAAC/crying-emoji-dies.gif">
    <img class="img-fluid" src="https://c.tenor.com/uGN34orccIEAAAAC/skillissue-skill.gif">
</span>
<h2 class="border border-5 border-info rounded my-5 mx-1">
    Congratulations on breaking the website! This is absolutely an end user issue and does not involve my terribly coded software that breaks in every 6 nanoseconds.
</h2>
<img class="w-100 img-fluid"  src="https://c.tenor.com/-nMgImOBcPAAAAAM/touhou-fumo.gif">