<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom px-3">
<h2>Lists</h2>
<div class="btn-toolbar mb-2 mb-md-0">
    <!-- TODO: do we need spacing?-->
    <button class="btn btn-success" (click)="openListCreateModal()" aria-label="Create list">
        New list
    </button>
</div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-3" *ngFor="let list of lists">
            <div type="button" style="position: static;" [routerLink]="['/list/'+list.id]" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}" class="card shadow-sm border-secondary">
                <div class="card-body">
                    <div class="d-flex justify-content-between gap-2 align-items-center ">
                        <h5 class="card-title">{{list.name}}</h5>
                        <button class="btn btn-outline-secondary border-0" style="z-index:3; position:relative;" data-bs-toggle="dropdown" id="dropdownMenuButton1" aria-label="Actions" aria-expanded="false">   
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a type="button" class="dropdown-item" (click)="openListEditModal(list.id)" aria-label="Edit list">Edit</a></li>
                            <li><a type="button" class="dropdown-item" (click)="openListDeleteModal(list.id, list.name)" aria-label="Delete list">Delete</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                   <!--
<p class="card-text">{{list.items|json}}</p>
                   --> 
                </div>
                <div class="card-footer text-muted">
                    {{getRandomNumber()}} items
                </div>
            </div>
        </div>
    </div>
</div>
