<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  px-3">
    <h2>Reminders</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-success" (click)="openReminderCreateModal()" aria-label="Create reminder">
            New reminder
        </button>
    </div>
</div>

<div class="container shadow-sm p-3 mb-5 bg-body rounded">
    <div class="list-group" *ngIf="reminders">
        <div *ngFor="let reminder of reminders" class="d-flex justify-content-between border">
            <label class="list-group-item d-flex gap-3 w-100 border-0">
                <span class="pt-1 w-100">
                    <strong class="w-100">{{reminder.item.name}}</strong>
                    <small class="d-block text-muted"> {{reminder.reason}}</small>
                    <small class="d-block text-muted"> {{reminder.reminderTime | date}}</small>
                </span>
            </label>
            <div class="d-flex position-relative">
                <button type="button" class="w-100 h-100 btn btn-sm btn-outline-primary border-0" (click)="openReminderEditModal(reminder.id)" aria-label="Edit reminder">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#pen-fill" />
                    </svg>
                </button>
                <button type="button" class="w-100 h-100 btn btn-sm btn-outline-danger border-0" (click)="openReminderDeleteModal(reminder.id, reminder.item.name)" aria-label="Delete reminder">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#trash-fill" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>