<div class="modal-header">
    <h5 class="modal-title">Delete the room?</h5>
    <button type="button" class="close" data-dismiss="modal" (click)="closeModal('dismiss')">
      <span aria-hidden="true"> &times;</span>
    </button>
</div>
<div class="modal-body">
    <p> Are you sure you want to delete the <b>{{ fromParent.name }}</b>?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')"> Close</button>
    <button type="button" class="btn btn-danger" (click)="onSubmit('changes saved!')">Delete</button>
</div>