<form [formGroup]="form" autocomplete="off" novalidate (ngSubmit)="changePassword()">
    <label for="oldPassword" class="col-form-label col-sm-5">Old password:</label>
    <div class="col-sm-7">
        <input type="password" id="oldPassword" formControlName="oldPassword" class="form-control" />
    </div>
    <div class="col-sm-7" *ngIf="validateControl('oldPassword')">
        <em *ngIf="hasError('oldPassword', 'required')">Password is required</em>
    </div>

    <label for="newPassword" class="col-form-label col-sm-5">New password:</label>
    <div class="col-sm-7">
        <input type="password" id="newPassword" formControlName="newPassword" class="form-control" />
    </div>
    <div class="col-sm-7" *ngIf="validateControl('newPassword')">
        <em *ngIf="hasError('newPassword', 'required')">Password is required</em>
    </div>

    <label for="confirmPassword" class="col-form-label col-sm-5">Confirm new password:</label>
    <div class="col-sm-7">
        <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" />
    </div>
    <div class="col-sm-7" *ngIf="validateControl('confirmPassword')">
        <em *ngIf="hasError('confirmPassword', 'mustMatch')">Passwords do not match</em>
        <em *ngIf="hasError('confirmPassword', 'required')">Password is required</em>
    </div>
<br>
    <div class="col-sm-7">
        <button type="submit" class="btn btn-info" [disabled]="!form.valid">Change password</button>
    </div>
</form>