<div class="modal-header">
    <h5 class="modal-title">Add item</h5>
    <button type="button" class="btn-close" (click)="closeModal('dismiss')" data-bs-dismiss="modal" aria-label="Close"></button>

</div>

<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit('changes saved!')">
            <div class="input-group">
                <label for="name" class="col-form-label col-2">Room:</label>
                <select class="form-select" (change)="onRoomChange()" id="roomId" formControlName="roomId">
                    <option [ngValue]="null" selected>-- Select a room --</option>
                    <option *ngFor="let room of rooms" attr.value={{room.id}}
                        [selected]="room.id===fromParent.roomNo ? true : null">{{room.name}}</option>
                </select>
                <button class="btn btn-success" type="button" (click)="openRoomCreateModal()" aria-label="Create room">
                    <svg class="bi" width="32" height="32" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#plus" />
                    </svg>
                </button>
            </div>
            <div class="input-group">
                <label for="name" class="col-form-label col-2">Item:</label>
                <select class="form-select" id="parentItemId" formControlName="itemId">
                    <option [ngValue]="null" selected>-- Not selected --</option>
                    <option *ngFor="let item of items" attr.value={{item.id}}
                        [selected]="item.id===fromParent.itemNo ? true : null">{{item.name}}</option>
                </select>
                <button class="btn btn-success" type="button" (click)="openItemCreateModal()" aria-label="Create item">
                    <svg class="bi" width="32" height="32" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#plus" />
                    </svg>
                </button>
            </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')"> Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!form.valid"
        (click)="onSubmit('changes saved!')">Save</button>
</div>

<div class="container">
    <ul class="list-group">
        <ng-container></ng-container>
    </ul>
</div>