<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  px-3">
    <h2>Categories</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <button class="btn btn-success" (click)="openCategoryCreateModal()" aria-label="Create category">
            New category
        </button>
    </div>
</div>

<div class="container shadow-sm p-3 mb-5 bg-body rounded">
    <div class="list-group" *ngIf="categories">

        <div class="d-flex justify-content-between border" *ngFor="let category of categories">

            <label class="list-group-item d-flex gap-3 w-100 border-0">
                <span class="pt-1 w-100">
                    <strong class="w-100">{{category.name}}</strong>
                    <small class="d-block text-muted"> {{category.description}}</small>
                </span>
            </label>

            <div class="d-flex position-relative">
                <button type="button" class="w-100 h-100 btn btn-sm btn-outline-primary border-0"
                    (click)="openCategoryEditModal(category.id) " aria-label="Edit category">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#pen-fill" />
                    </svg>
                </button>
                <button type="button" class="w-100 h-100 btn btn-sm btn-outline-danger border-0"
                    (click)="openCategoryDeleteModal(category.id, category.name) " aria-label="Delete category">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#trash-fill" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>