<li *ngFor="let request of requests">
    <a class="link-dark rounded">{{request.author.username}}</a>
    <button class="btn btn-success " (click)="acceptFriendRequest(request.id)" aria-label="friend">
        <svg class="bi " width="16 " height="16 " fill="currentColor ">
            <use xlink:href="bootstrap-icons.svg#checkmark " />
        </svg>
    </button>
    <button class="btn btn-danger " aria-label="unfriend">
            <svg class="bi " width="16 " height="16 " fill="currentColor ">
                <use xlink:href="bootstrap-icons.svg#trash-fill " />
            </svg>
        </button>

</li>