<div class="container d-flex justify-content-left mb-3">
    <div class="row me-3" *ngFor="let category of categories">
        <span class="badge rounded-pill text-dark" type="button" (click)="onCategorySelected(category)"
            [ngClass]="isCategorySelected(category)? 'bg-primary' : 'bg-warning'">{{category.name}}</span>
    </div>
</div>

<div class="container">
    <ul class="list-group">
        <ng-container *ngTemplateOutlet="recursiveitemsTmpl;
         context:{ items: getItemsByCategories(selectedCategories, items) }"></ng-container>
    </ul>
</div>


<ng-template #recursiveitemsTmpl let-items="items">
    <div class="d-flex  w-100 justify-content-left align-items-center border-0 border-start" *ngFor="let item of items"
        [attr.aria-expanded]="isItemExpanded(item)" [attr.aria-controls]="'item'+item.id">
        <div class="w-100">
            <div class="d-flex list-group-item list-group-item-action gap-3 py-3 border border-0 align-items-center">
                <svg type="button" class="bi align-self-center" *ngIf="item.items.length> 0" (click)="expandItem(item)"
                    width="32" height="32" fill="currentColor" data-bs-toggle="collapse"
                    attr.data-bs-target="#item{{item.id}}">
                    <!--button for expanding children-->
                    <use xlink:href="bootstrap-icons.svg#plus" />
                </svg>
                <div type="button" class="gap-2 w-100" attr.aria-controls="item{{item.id}}"
                    [routerLink]="['/item/'+item.id]" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <!-- the item itself-->

                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h6 class="mb-0">{{item.name}}</h6>
                            <p class="mb-0 opacity-75">{{item.comments}}</p>
                        </div>

                    </div>
                </div>
                <div class="d-flex gap-2 align-items-center">
                    <button type="button" class="btn h-100 btn-sm btn-outline-dark border-0"
                        (click)="changeQuantity(item,-1)" aria-label="Add to list">
                        <svg class="bi" width="24" height="24" fill="currentColor">
                            <use xlink:href="bootstrap-icons.svg#dash" />
                        </svg>
                    </button>
                    <b>{{item.quantity}}</b>
                    <button type="button" class="btn h-100 btn-sm btn-outline-dark border-0"
                        (click)="changeQuantity(item,1)" aria-label="Add to list">
                        <svg class="bi" width="24" height="24" fill="currentColor">
                            <use xlink:href="bootstrap-icons.svg#plus" />
                        </svg>
                    </button>
                    <small type="button" class="opacity-50 text-nowrap mx-3" attr.aria-controls="item{{item.id}}"
                        [routerLink]="['/item/'+item.id]" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">{{item.category.name}}</small>
                </div>
                <button type="button" class="btn btn-sm btn-outline-dark border-0" (click)="openListSelectModal(item)"
                    aria-label="Add to list">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#list-check" />
                    </svg>
                </button>
            </div>

            <ul class="list-group ps-5" *ngIf="item.items.length > 0">
                <!--children-->
                <div class="collapse" attr.id="item{{item.id}}" [ngClass]="isItemExpanded(item)? 'show' : 'collapsed'">
                    <ng-container *ngTemplateOutlet="recursiveitemsTmpl; 
                    context:{ items: getItemsByCategories(selectedCategories, item.items) }">
                    </ng-container>
                </div>
            </ul>
        </div>

    </div>
</ng-template>