<div class="modal-header">
    <h5 class="modal-title">Add reminder</h5>
    <button type="button" class="btn-close" (click)="closeModal('dismiss')" data-bs-dismiss="modal" aria-label="Close"></button>

</div>

<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit('changes saved!')">
        <div class="col-sm-10 input-group">
            <label for="name" class="col-form-label col-sm-2">Room:</label>
            <select class="form-select" (change)="onRoomChange()" id="roomId" formControlName="roomId">
                <option [ngValue]="null" selected>-- Select a room --</option>
                <option *ngFor="let room of rooms" attr.value={{room.id}}
                    [selected]="(((savedReminder && room.id===savedReminder.item.room.id) 
                    || (fromParent.new && fromParent.roomId && room.id===fromParent.roomId)) ? true : null)">
                    {{room.name}}</option>
            </select>
        </div>
        <div class="col-sm-10 input-group">
            <label for="name" class="col-form-label col-sm-2">Item:</label>
            <select class="form-select" id="parentItemId" formControlName="itemId">
                <option [ngValue]="null" selected>-- Not selected --</option>
                <option *ngFor="let item of items" attr.value={{item.id}}
                    [selected]="(((savedReminder && item.id===savedReminder.item.id) 
                    || (fromParent.new && fromParent.itemId && item.id===fromParent.itemId)) ? true : null)">
                    {{item.name}}</option>
            </select>
            <button class="btn btn-success" type="button" (click)="openItemCreateModal()" aria-label="Create item">
                <svg class="bi" width="24" height="24" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#plus" />
                </svg>
            </button>
        </div>

        <div class="col-sm-10 input-group">
            <label for="name" class="col-form-label col-sm-2">Date:</label>
            <input type="datetime-local" class="form-control" id="reminderTime" formControlName="reminderTime">
        </div>

        <div class="col-sm-10 input-group">
            <label for="name" class="col-form-label col-sm-2">Reason:</label>
            <input type="text" class="form-control" id="reason" formControlName="reason">
        </div>

        <div class="col-sm-10 input-group">
            <label for="name" class="col-form-label col-sm-2">Repeat:</label>
            <select class="form-select" id="repeatFrequency" formControlName="repeatFrequency">
                <option *ngFor="let frequency of frequencies | keyvalue" [ngValue]="frequency.key">
                    {{frequency.value}}</option>
            </select>
        </div>
    </form>


</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')"> Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!form.valid"
        (click)="onSubmit('changes saved!')">Save</button>
</div>

<div class="container">
    <ul class="list-group">
        <ng-container></ng-container>
    </ul>
</div>