<div *ngIf="item">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom px-3">
        <h1 class="h2">{{item.name}}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <!-- TODO: do we need spacing?-->
            <button type="button" class="btn btn-sm btn-outline-success"
                (click)="openItemEditModal(item.room.id,item.id,true)" aria-label="Create item">
                <svg class="bi" width="24" height="24" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#plus" />
                </svg>
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary"
                (click)="openItemEditModal(item.room.id,item.id,false)" aria-label="Edit room">
                <svg class="bi" width="24" height="24" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#pen-fill" />
                </svg>
            </button>
            <button type="button" class="btn btn-sm btn-outline-danger"
                (click)="openItemDeleteModal(item.id, item.name)" aria-label="Delete item">
                <svg class="bi" width="24" height="24" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#trash-fill" />
                </svg>
            </button>
        </div>
    </div>

    <app-item-list [items]="item.items"></app-item-list>


</div>