<div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom  px-3">
    <div>
        <div class="d-flex justify-content-between gap-3">
            <h2>My friends</h2>
        </div>
    </div>
</div>
<div class="container shadow-sm p-3 mb-5 bg-body rounded">

    <div class="list-group" *ngIf="friends">
        <div *ngFor="let friend of friends" class="d-flex justify-content-between">
            <label class="list-group-item d-flex gap-3 w-100 border-end-0">
                <span class="pt-1 w-100">
                    <strong class="w-100">{{friend.username}}</strong>
                    <small class="d-block text-muted"> user info </small>
                </span>
            </label>
            <div class="border border-start-0 position-relative">
                <button type="button" class="w-100 h-100 btn btn-sm btn-outline-danger border-0" 
                (click)="openFriendDeleteModal(friend.username)" aria-label="Unfriend">
                    <svg class="bi" width="24" height="24" fill="currentColor">
                        <use xlink:href="bootstrap-icons.svg#trash-fill" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container d-md-flex justify-content-between gap-5 mb-5">
    <div class="container shadow-sm p-3 bg-body rounded ">
        <h3 class="gap-3 pb-2">Add friend</h3>
        <app-friend-request-send></app-friend-request-send>
    </div>    
    <div class="container shadow-sm p-3 bg-body rounded ">
        <h3 class="gap-3 pb-2">Received invites</h3>
        <app-friend-request-list></app-friend-request-list>
    </div>
</div>


