<div *ngIf="room">
    <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">{{room.name}}</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <!-- TODO: spacing-->
        <button type="button" class="btn btn-sm btn-outline-success"
        (click)="openItemCreateModal(room.id)" aria-label="Create item">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#plus" />
            </svg>
        </button>
        <button type="button" class="btn btn-sm btn-outline-primary"
        (click)="openRoomEditModal(room.id)" aria-label="Edit room">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#pen-fill" />
            </svg>
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger"
        (click)="openRoomDeleteModal(room.id, room.name)" aria-label="Delete room">
            <svg class="bi" width="24" height="24" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#trash-fill" />
            </svg>
        </button>
    </div>
</div>
<app-item-list [items]="items"></app-item-list>