<form [formGroup]="form">
    <div class="form-group row">
        <label for="name" class="col-form-label col-sm-5">Username:</label>
        <div class="col-sm-7">
            <input type="text" id="recipientName" formControlName="recipientName" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-form-label col-sm-5">Include a message:</label>
        <div class="col-sm-7">
            <input type="text" id="contents" formControlName="contents" class="form-control" />
        </div>
    </div>
</form>
<button type="button" class="btn btn-success" (click)="sendRequest()">Send Request</button>