<div class="modal-header">
    <h5 class="modal-title" *ngIf="fromParent.edit">Edit item</h5>
    <h5 class="modal-title" *ngIf="!fromParent.edit">Create item</h5>
    <button type="button" class="btn-close" (click)="closeModal('dismiss')" data-bs-dismiss="modal" aria-label="Close"></button>

</div>

<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit('changes saved!')">

        <div class="input-group">
            <label for="name" class="col-form-label col-2">Name:</label>
            <input type="text" id="name" formControlName="name" class="form-control" />
            <div class="p-3 col-2 text-danger" *ngIf="validateControl('name')">
                <em *ngIf="hasError('name', 'required')">Name is required</em>
                <em *ngIf="hasError('name', 'maxlength')">Name cannot be longer than 50
                    characters</em>
            </div>
        </div>

        <div class="input-group">
            <label for="quantity" class="col-form-label col-2">Quantity:</label>
            <input type="number" min="0" id="quantity" formControlName="quantity" class="form-control" />
            <div class="p-3 col-2 text-danger" *ngIf="validateControl('quantity')">
                <em *ngIf="hasError('quantity', 'required')">Quantity is required</em>
                <em *ngIf="hasError('quantity', 'min')">Quantity cannot be lower than 0</em>
                <em *ngIf="hasError('quantity', 'max')">Max quantity reached</em>
            </div>
        </div>

        <div class="input-group">
            <label for="value" class="col-form-label col-2">Value:</label>
            <input type="number" id="value" formControlName="value" class="form-control" />
            <div class="p-3 col-2 text-danger" *ngIf="validateControl('value')">
                <em *ngIf="hasError('value', 'required')">Value is required</em>
                <em *ngIf="hasError('value', 'min')">Value cannot be lower than 0</em>
                <em *ngIf="hasError('value', 'max')">Max value reached</em>
            </div>
        </div>

        <div class="input-group">
            <label for="roomId" class="col-form-label col-2">Location:</label>
            <select class="form-select" (change)="onRoomChange()" id="roomId" formControlName="roomId">
                <option [ngValue]="null" selected>-- Select a room --</option>
                <option *ngFor="let room of rooms" attr.value={{room.id}}
                    [selected]="(((savedItem && room.id===savedItem.room.id) ||
                    (fromParent.new && fromParent.roomNo && room.id===fromParent.roomNo)) ? true : null)">
                    {{room.name}}</option>
            </select>
            <button class="btn btn-success" type="button" (click)="openCategoryCreateModal()" aria-label="Create item">
                <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#plus" />
                </svg>
            </button>
        </div>

        <div class="input-group">
            <label for="parentItemId" class="col-form-label col-2">Detailed location:</label>
            <select class="form-select" id="parentItemId" formControlName="parentItemId">
                <option [ngValue]="null" selected>-- Not selected --</option>
                <option *ngFor="let item of childrenItems" attr.value={{item.id}}
                    [selected]="(((savedItem && item.id===savedItem.parentItem?.id) || 
                    (fromParent.new && fromParent.itemNo && item.id===fromParent.itemNo)) ? true : null) ">
                    {{item.name}}</option>
            </select>
        </div>

        <div class="input-group">
            <label for="categoryId" class="col-form-label col-2">Category:</label>
            <select class="form-select" id="categoryId" formControlName="categoryId">
                <option selected [ngValue]="null">-- Select a category --</option>
                <option *ngFor="let category of categories" attr.value={{category.id}}
                    [selected]="savedItem && category.id===savedItem.category?.id ? true : null">{{category.name}}
                </option>
            </select>
            <button class="btn btn-success" type="button" (click)="openCategoryCreateModal()" aria-label="Create item">
                <svg class="bi" width="32" height="32" fill="currentColor">
                    <use xlink:href="bootstrap-icons.svg#plus" />
                </svg>
            </button>
        </div>

        <div class="input-group">
            <label for="comments" class="col-form-label col-2">Comments:</label>
            <input type="text" id="comments" formControlName="comments" class="form-control" />
            <div class="p-3 col-2 text-danger" *ngIf="validateControl('comments')">
                <em *ngIf="hasError('comments', 'maxlength')">Comment cannot be longer than 200 characters</em>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal('close')"> Close</button>
    <button type="button" class="btn btn-primary" [disabled]="!form.valid"
        (click)="onSubmit('changes saved!')">Save</button>
</div>

<div class="container">
    <ul class="list-group">
        <ng-container></ng-container>
    </ul>
</div>